<%= render 'form' %>

<div id="map"></div>
<%= render 'map_script' %>

<% @itinerary.locations.each do |location| %>
  <strong>Address: </strong>
  <%= location.address %>

  <strong>Latitude: </strong>
  <%= location.latitude %>

  <strong>Longitude: </strong>
  <%= location.longitude %>
  <br>
<% end %>