<p id="notice"><%= notice %></p>

<%= map(:center => { :latlng => [@location.latitude, @location.longitude], :zoom => 10 }, :markers => [{ :latlng => [@location.latitude, @location.longitude], :popup => @location.address }]) %>

<div class="row">
  <div class="large-8 large-centered columns">
    <p>
      <strong>Address:</strong>
      <%= @location.address %>
    </p>

    <p>
      <strong>Latitude:</strong>
      <%= @location.latitude %>
    </p>

    <p>
      <strong>Longitude:</strong>
      <%= @location.longitude %>
    </p>
    <%= link_to 'Edit', edit_location_path(@location) %> |
    <%= link_to 'New', root_path %>
  </div>
</div>

