<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "rail-geoloc" %></title>

    <%= stylesheet_link_tag "application" %>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />
    <%= javascript_include_tag "vendor/modernizr" %>
    <script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script>

    <%= csrf_meta_tags %>
  </head>

  <body>
    <h1 class="text-center">
      <%= link_to "From A to B", root_path %>
    </h1>
    <p class="text-center">What is your trip?</p>
    <%= yield %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  </body>
</html>